body {
  background: url(../img/dot.png) repeat 0 0;
}
#superContainer {
  height: 100%;
  position: relative;
}
.section {
  position: relative;
  box-sizing: border-box;
}
.section.table {
  display: table;
  width: 100%;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.easing {
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.header {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1001;
}
.page1-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../img/aboutus.png) no-repeat center center;
  background-size: cover;
}
.page2-img {
  height: 66%;
  background: url(../img/about-boss.png) no-repeat center center;
  background-size: cover;
}
.page2-text {
  height: 30%;
  width: 700px;
  margin: 0 auto;
  font-size: 18px;
  color: #878787;
  line-height: 36px;
}
.page2-text .motto {
  padding-top: 10%;
}
.page2-text p {
  text-align: right;
}
.page2-text p span {
  color: #121212;
  padding: 0 26px 0 15px;
}
.arrow-down,
.arrow-up {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 50px;
  margin-left: -50px;
  margin-top: -25px;
  background: url(../img/arrow-down.png) no-repeat center center;
  background-size: cover;
}
.arrow-up {
  background-image: url(../img/arrow-up.png);
}
.page3 {
  overflow: hidden;
  background:url(../img/xiegang.png) no-repeat center 0;
  background-size:contain;
}
.page3 .page3-content {
  height: 680px;
}
.page3 .text-left,
.page3 .text-right {
  position: absolute;
  top: 10%;
  bottom: 0;
  width: 50%;
  color: #878787;
}
.page3 .text-left .red-line,
.page3 .text-right .red-line {
  position: absolute;
  top: 0;
  width: 17px;
  height: 4px;
  background-color: #e74c4c;
}
.page3 .text-left .text,
.page3 .text-right .text {
  margin: 48px 0 0 10%;
  line-height: 24px;
  font-size: 14px;
}
.page3 .text-left {
  left: 0;
}
.page3 .text-left .red-line {
  left: 20%;
}
.page3 .text-left .page3-img {
  width: 80%;
  margin: 50px 0 0 8%;
}
.page3 .text-left .text {
  width: 76%;
}
.page3 .text-left .text h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}
.page3 .text-left .left-gray-line {
  width: 143px;
  height: 9px;
  background-color: #000;
  margin-top: 70px;
}
.page3 .text-right {
  right: 0;
}
.page3 .text-right .red-line {
  right: 30%;
}
.page3 .text-right .page3-img {
  width: 68%;
  margin: 50px auto 0;
}
.page3 .text-right .text {
  margin-left: 22%;
  width: 56%;
  position: relative;
  line-height: 32px;
}
.page3 .text-right .text .right-gray-line {
  position: absolute;
  width: 143px;
  height: 9px;
  right: 0;
  top: 50%;
  background-color: #000;
}
.page4 {
  overflow: hidden;
}
.page4 .page4-top {
  width: 882px;
  margin: 0 auto;
  padding-top: 16px;
  position: relative;
}
.page4 .page4-top .page4-top-left {
  width: 590px;
}
.page4 .page4-top .page4-top-right {
  width: 278px;
}
.page4 .page4-img1 {
  width: 287px;
  margin-bottom: 10px;
}
.page4 .page4-img2 {
  width: 292px;
}
.page4 .page4-img3 {
  width: 590px;
  height: auto;
}
.page4 .page4-img4 {
  width: 100%;
  height: auto;
}
.page4 .page4-img5 {
  position: absolute;
  width: 213px;
  bottom: 0;
  right: 0;
}
.page4 .page4-bottom {
  margin-top: 20px;
  width: 100%;
  height: 110px;
  background: url(../img/sporetech.png) no-repeat center center;
  background-size: contain;
}